@tailwind base;
@tailwind components;
@tailwind utilities;



/* index.css */
html, body, #root {
  margin: 0;       
  padding: 0;      
  height: 100%;    
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box; /* optional, safer layout */
}



/* html{
  scroll-padding-top: 60px
} */

